<table class="ui table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each station.data}}
      <tr>
        <td>
          {{code}}
        </td>
        <td>
          {{temp}}
        </td>
        <td>
          {{wSpeed}}
        </td>
        <td>
          {{wDir}}
        </td>
        <td>
          {{pressure}}
        </td>
        <td>
          <a href="/station/{{../station.id}}/deleteReading/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

 